ClientZnakiZodiaka/ClientZnakiZodiaka/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ZnakiLibrary" />
  <xs:element name="ConnectionDataBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionDataBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZnakiLibrary" minOccurs="0" name="ConnectionDataBaseResult" nillable="true" type="q1:ClassHoroskop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>