ClientZnakiZodiaka/ClientZnakiZodiaka/Service References/ServiceReference1/ZnakiLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZnakiLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZnakiLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClassHoroskop">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassHoroskop" nillable="true" type="tns:ClassHoroskop" />
</xs:schema>